/* Reset and base styles - MUI CssBaseline handles most of this */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

body {
  font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TipTap Editor Styles */
.tiptap {
  outline: none;
  min-height: 100px;
}

.tiptap p {
  margin: 0 0 0.5em;
}

.tiptap p:last-child {
  margin-bottom: 0;
}

.tiptap ul,
.tiptap ol {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

.tiptap li {
  margin: 0.25em 0;
}

.tiptap a {
  color: #9d2235;
  text-decoration: underline;
}

/* Rich content display styles (for dangerouslySetInnerHTML content) */
.rich-content p {
  margin: 0 0 0.5em;
}

.rich-content p:last-child {
  margin-bottom: 0;
}

.rich-content ul,
.rich-content ol {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

.rich-content li {
  margin: 0.25em 0;
}

.rich-content a {
  color: #9d2235;
  text-decoration: underline;
}
